/* Font Google - strong reaload time */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900&subset=latin,latin-ext);

html, body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:15px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:black;
  font-weight:400;
  height:100%;
}

a{
  text-decoration:none;
  outline:none;
}

h1{
  font-size:56px;
  color:cadetblue;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

p{
  font-size:19px;
  color:white;
  margin-top:50px;
}


h1 span{
  color:#2fa68e;
}


::selection {
  background: #fff;
  color:#2fa68e;
}

::-moz-selection {
  background: #fff;
  color:#2fa68e;
}


.container{
  position:absolute;
  width:100%;
  height:100%;
}

/* Start page */

.start-page{
  position:relative;
  width:100%;
  height:560px;
  background:url('../img/background/bg1.jpg') 0px 0px fixed;
}

.start-page .opacity{
  position:absolute;
  width:100%;
  height:560px;
  background:rgba(0,0,0,0.7);
}


.start-page .content{
  position:relative;
  width:900px;
  margin:0 auto;
  height:580px;
}

.start-page .content .text{
  position:absolute;
  text-align:center;
  margin:auto;
  top:0; 
  left:0; 
  bottom:0; 
  right:0;
  width:500px;
  height:320px;
}

.start-page .content .text{
  position:absolute;
  text-align:center;
  margin:auto;
  top:0; 
  left:0; 
  bottom:0; 
  right:0;
  width:500px;
  height:320px;
}

.start-page .content .arrow-down{
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-left: -10px;
  width: 21px;
  height: 29px;
  background: url(../img/arrow-down.png) no-repeat center center;
  display: block;
  -webkit-animation: bounce-fade 1.2s infinite; /* Safari 4+ */
  -moz-animation:    bounce-fade 1.2s infinite; /* Fx 5+ */
  -o-animation:      bounce-fade 1.2s infinite; /* Opera 12+ */
   animation:        bounce-fade 1.2s infinite; /* IE 10+ */
}


@-webkit-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-moz-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-o-keyframes bounce-fade {
    0%   { opacity: 0; bottom:70px; }
    100% { opacity: 1; bottom: 35px; }
}
@keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}

/* Menu */

.menu{
  position:relative;
  width:100%;
  height:90px;
  background:#2f363e;
  z-index:1000;
}

.menu-content{
  width:1300px;
  position:relative;
  margin:0 auto;
}

.menu-content ul{

  width:800px;
  left:50%;
  float:right;
  text-align:right;
  list-style:none;
}

.menu-content li{
   display:inline-block;
   position:relative;
}

.menu-content li a{
  color:#a3b2c0;
  font-size:16px;
  display: block;
  padding: 0 20px 0 20px;
  line-height:90px;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.menu-content li.active a{
  background-color:#131a21;
}

.menu-content li a:hover{
  color:white;
}


/* About us */

.section{
  position:relative;
  width:100%;
  height:500px;
  margin:0 auto;
  margin-bottom:10px;

}

.section hr{
  color: black;
  margin-top:30px;
  background-color: black;
  height: 1px;
  width:340px;
  border:0;

}

.section h2{
  text-align:center;
  margin-top:20px;
  font-size:29px;
  color:black;
  line-height:1.2;
  width:100%;
  position:relative;
  font-weight:bold;
}

.section p{
  text-align:center;
  margin-top:20px;
  font-size:15px;
  width:100%;
  color:#919191;
  line-height:1.4;
  position:relative;
  font-weight:400;
}

.clear { 
    clear:both; 
}

/* Partners */

.section-img{
  position:relative;
  width:100%;
  height:500px;
  background:url('../img/background/b2.jpg') 0px 0px fixed;
}

.section-img .opacity{
  position:absolute;
  width:100%;
  height:500px;
  background:rgba(0,0,0,0.8);
}

.section-img .content{
  position:absolute;
  width:900px;
  height:190px;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.section-img h2{
  color:white;
  font-size:32px;
  font-weight:300;
  text-align:center;
}

.section-img hr{
  color: white;
  margin-top:30px;
  background-color: white;
  height: 1px;
  width:340px;
  border:0;

}

/* Footer */


.footer{
  position:relative;
  width:100%;
  height:90px;
  background:#23282d;

}

.footer .margin{
  position:relative;
  width:900px;
  margin:0 auto;
  height:90px;
}

.footer .margin .menu-footer{
  width:450px;
  margin:0 auto;
  float:left;
}


.footer .margin .menu-footer a{
  line-height:90px;
  padding-right:25px;
  color:#5f666e;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.footer .margin .menu-footer a:hover{
  color:white;
}