<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/form.css">
<body ng-controller="RegisterCtrl" ng-app="myApp">
 <div class="container">
    <div id="signup">
      <div class="register">
         <div class="space-bot text-center">
            <h1>MY FORM CONTAINTS</h1>
           <div class="divider"></div>
         </div>
          <div ng-controller="RegisterCtrl">
                    <select class="validate" ng-model="field" ng-options="field in fields">
                        <option value="">Name</option>
                        <option value="">Email</option>
                        <option value="">Phone</option>
                        <option value="">Password</option>
                   </select>
               </div>
            <br>
           <form class="form-register" method="post" name="register" novalidate>
               <div class="input-field col s6">
              <input id="first-name" type="text" placeholder="First Name" class="validate" required>
                <p class="alert alert-danger" ng-show="form-register.first-name.$error.required">Required!!</p>
              <input id="last-name" type="text" placeholder="Last Name" class="validate" required>
              
                <p class="alert alert-danger" ng-show="form-register.last-name.$error.required">Required!!</p>
             </div>
               
               <p class="alert" >Full name: {{first-name}} {{last-name}}</p>
               
             <div class="input-field col s6">
              <input id="email" type="email" placeholder="id@email.com" name="email" ng-model="email" class="validate" required>
              
             </div>
             <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
            <br>
            <div class="input-field col s6">
            
              <input id="number" type="number" placeholder="+91" class="validate" name="number" ng-model="number" ng-minlength='8' ng-maxlength='10' required/>
              
            </div>
             <p class="alert alert-danger" ng-show="form-register.number.$error.minlength || form.number.$invalid">Should be more than 8 digits</p>
            <p class="alert alert-danger" ng-show="form-register.number.$error.maxlength || form.number.$invalid">Should be less than 10 digits</p>
                
               <br>
             <div class="input-field col s6">
               <input id="password" type="password" placeholder="Password" name="password" ng-model="password" ng-minlength='6' class="validate" required>
               
              </div>
              <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
              <div class="space-top text-center">
               <button type="submit" ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
               <i class="material-icons left"></i> Done
               </button>
               <button type="reset" class="waves-effect waves-light btn cancel">
               <i class="material-icons left"></i> Cancel
               </button>
              </div>
             </form>
           </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/angularform.js"></script>
    
</body>
</html>